// Normally mainpage styles
 
 /*----------header----------*/

 .header{
	@include povh('');
   padding:20px 0 0 0;
 }
  .search{
    position: relative;
    overflow: hidden;
    input{
      width:100%;
      color: #383838;
      font-size:16px;
      height:48px;
      padding:0 25px;
      border:1px solid #bfbfbf;
      border-radius:22px;
    }
  }
  .header__buttons{
    text-align: right;
    .button{
      border-radius:6px;
      border:1px solid #fff;
      font-size:15px;
      color: #fff;
      font-weight:600;
      background: none;
      padding:8px 15px;
      margin-left:15px;
      &.inverted{
        color: #83c56d;
        background: #fff;
        border-color: #46b691;
      }
    }
  }
  .header__menu{
    margin-top:15px;
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      li{
        position: relative;
        &:before{
          content:'';
          position: absolute;
          top:50%;
          margin-top:-6.5px;
          left:-3.5px;
          width:1px;
          height:13px;
          background: #c4c4c4;
        }
        &:hover, &.active{
          a{
            background: #fff;
            border-color: #82c56e;
          }
          &:before{
            opacity:0;
          }
          & + li{
            &:before{
              opacity:0;
            }
          }
        }
        &:first-child{
          &:before{
            opacity:0;
          }
        }
      }
      a{
        font-size:18px;
        color: #323232;
        display: inline-block;
        position: relative;
        padding:10px 20px;
        border-radius:3px;
        border:1px solid transparent;
        text-decoration: none;
        @include mq($max-width: 1200px) {
          font-size:14px;
        }
        @include mq($max-width: 992px) {
          padding:5px;
        }
      }
    }
  }

/*----------end-header----------*/


/*----------main----------*/
 
 .main{
	@include povh('');
   padding:80px 0 0 0;
 }
  .bnr{
    margin-bottom:50px;
    h1{
      color: #222222;
      font-size:42px;
      font-weight:600;
      letter-spacing: -2px;
      line-height:1.2;
      padding-bottom:45px;
    }
    &__buttons{
      div{
        padding-bottom:20px;
      }
      a.button{
        img{
          vertical-align: middle;
          padding-right:12px;
        }
        border-radius: 6px;
        font-size:18px;
        color: #fff;
        font-weight:600;
        text-transform: uppercase;
        width:255px;
        text-align: left;
        background-image: linear-gradient(to right, #eeaa54, #ee7623);
      }
    }
    &__img{
      position: relative;
      margin-top:-76px;
      margin-left:-184px;
      @include mq($max-width: 1200px) {
        margin-left:0;
        margin-top:0;
      }
    }
  }
  .about-text{
    text-align: center;
    font-size:24px;
    color: #2f3e4d;
    font-weight:300;
    padding-bottom:58px;
    p{
      padding-bottom:30px;
      a:not(.button){
        color: #00b2e2;
      }
    }
  }
  .tags{
    figure{
      padding:35px 16px;
      border:1px solid #dcdcdc;
      border-radius:13px;
      img{
        display: block;
        margin:0 auto;
        margin-bottom:25px;
      }
      figcaption{
        border-top:4px solid #8bbc40;
        padding-top:25px;
        font-size:16px;
        color: #4b4b4b;
        a{
          color: #63b96f;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  .title{
    font-size:42px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    line-height:1.4;
    font-weight:600;
    img{
      padding-right:25px;
    }
  }
  .news-logos{
    &__inner{
      background: url(../img/logos-bg.png) no-repeat left 27px top;
      padding-top:30px;
      @include mq($max-width: 1200px) {
        -webkit-background-size: contain;
        background-size: contain;
        background-position: top center;
      }
      a{
        display: block;
        border:1px solid #d6d6d6;
        border-radius:3px;
        padding:10px;
        img{
          display: block;
          margin:0 auto;
        }
      }
    }
    .col-lg-2{
      &:first-child, &:last-child{
        margin-top:120px;
      }
      &:nth-child(2), &:nth-child(5){
        margin-top:185px;
      }
      &:nth-child(3), &:nth-child(4){
        margin-top:200px;
      }
    }
  }
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
   padding:180px 0 40px 0;
   background: url(../img/footer-bg.jpg) no-repeat center top ;
  &__menu{
    padding-bottom:30px;
    ul{
      display: flex;
      justify-content: space-between;
      color: #000000;
      font-size:14px;
      text-transform: uppercase;
      a{
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
   address{
     color: #383838;
     font-size:13px;
     font-style: normal;
     text-align: justify;
   }
 }
  .social{
    display: flex;
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      width:45px;
      height:45px;
      border-radius:50%;
      background: #fff;
      margin-right:15px;
      font-size:26px;
      color: #466fc2;
      border:1px solid #bfbfbf;
      .fa-twitter{
        color: #06afe2;
      }
      .fa-linkedin-in{
        color: #007aaa;
      }
      .fa-skype{
        color: #00aaf2;
      }
      .fa-blogger-b{
        color: #f89029;
      }
    }
  }

/*----------end footer----------*/