<!-- index.nunjucks -->
{% extends "layout.html" %}
{% block content %}
<!-- banner -->
<div class="bnr">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Career connect</h1>
                <p>HFTP members can connect with each other to learn about career opportunities or look for qualified candidates through the HFTP Job Board. Anyone may post a job to HFTP's Job Board web site but only members of HFTP may view the postings.</p>
                <div class="bnr__buttons">
                    <div><a href="#" class="button text_center"><span>Connect us</span></a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="img/career-img.png" alt="" class="bnr__img bnr__img-no-spacing">
            </div>
        </div>
    </div>
</div>
<!-- /banner -->
<!-- text -->
<div class="container">
    <article class="content-text">
        <p>If you have questions about HFTP Global's Career Connect page, please contact: <a href="#">Member Retention Manager Fritz Johnson</a></p>

        <p>Members can also network with colleagues worldwide through <a href="#">HFTP’s online platform, Community@HFTP.</a></p>
    </article>
</div>
<!-- /text -->
{% endblock %}