<!-- index.nunjucks -->
{% extends "layout.html" %}
{% block bodyclass %} class="inner-page" {% endblock %}
{% block content %}
<!-- title -->
<div class="container">
    <div class="title">
        <h1>Chapter Certification Designees</h1>
    </div>
</div>
<!-- /title -->
<!-- Certification -->
<div class="certification">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="certification__item">
                    <div class="certification__inner">
                        <div class="certification__img"></div>
                        <article class="certification__text">
                            <h6><a href="#"> LEONARD BARTELLO, CHAE+, CHTP+, CPA, LCAM</a></h6>
                            <p>"FORTY YEARS" Consulting <br>
                                Owner <br>
                                Certified : 12/14/1985 <br>
                                Certification Expires : 12/31/2020</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Certification -->
<!-- title -->
<div class="container">
    <div class="title">
        <h2>Certification</h2>
    </div>
</div>
<!-- /title -->
<!-- text -->
<div class="container">
    <article class="content-text">
       <p> CAREER CONFIDENCE THROUGH CERTIFICATION <br>
        From the list of certified professionals above:   * indicates retired   + indicates emeritus </p>

        <p>  Are you ready to demonstrate your higher competency in the hospitality industry? Then take the next step with HFTP’s hospitality-specific certifications for accounting and technology.</p>

        <p>  According to the HFTP Benefits and Compensation survey*, those who have earned certifications offered by Hospitality Financial and Technology Professionals (HFTP®) receive higher salaries than those without industry certifications.</p>

        <p>  Get started by selecting your certification:</p>
        <div class="certification__logos">
            <figure><a href="#"><img src="img/certification__logo1.png" alt=""></a></figure>
            <figure><a href="#"><img src="img/certification__logo2.png" alt=""></a></figure>
        </div>
        <p> CAREER CONFIDENCE THROUGH CERTIFICATION <br>
        From the list of certified professionals above:   * indicates retired   + indicates emeritus </p>

        <p>  Are you ready to demonstrate your higher competency in the hospitality industry? Then take the next step with HFTP’s hospitality-specific certifications for accounting and technology.</p>

        <p>  According to the HFTP Benefits and Compensation survey*, those who have earned certifications offered by Hospitality Financial and Technology Professionals (HFTP®) receive higher salaries than those without industry certifications.</p>

        <p>  Get started by selecting your certification:</p>
    </article>
</div>
<!-- /text -->

{% endblock %}