<!-- index.nunjucks -->
{% extends "layout.html" %}
{% block bodyclass %} class="contact-page" {% endblock %}
{% block content %}
<!-- banner -->
<div class="bnr">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="title"><h2>Get involved</h2></div>
                <article>
                    <p>Our Chapter is looking for volunteer leaders!</p>

                    <p>You can get involved with your chapter in a very small way, and make a big contribution. Could you spare an hour a month? Would you like to help with a committee? Your board is looking for members to help with Social Events, the Newsletter, Welcoming new members, coordinating meeting sites, and more.</p>
                        
                    <p><strong>GET INVOLVED - WITH HFTP GLOBAL</strong> <br>
                        Are you looking to get involved in your membership on a deeper level?</p>
                </article>
                <div class="bnr__buttons">
                    <div><a href="#" class="button text_center"><span>get involved</span></a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="img/contact-img.png" alt="" class="bnr__img bnr__img-no-spacing">
            </div>
        </div>
    </div>
</div>
<!-- /banner -->
<!-- text -->
<div class="container">
    <article class="content-text">
       <p> HFTP’s member volunteers are what make the association a strong, collaborative community.</p>

       <p> It is your chance to help shape the association and hospitality industry whether on the local chapter level or globally.</p>
        
       <p>  Here are just some of the types of opportunities:</p>
        <ul>
           <li> Participate on an advisory council or committee</li>
           <li> Give an educational presentation</li>
           <li> Help guide the direction of the Global association</li>
           <li> Mentor young professionals to help them get started in the industry</li>
           <li> Chapter Leadership Opportunites</li>
           <li> Help oversee the direction of your chapter</li>
           <li> Work with other professionals in your area</li>
           <li> Assist with coordinating education and event planning</li>
           <li> Help recruit new members at the chapter level</li>
           <li> Click here to learn more about ways to get involved in HFTP.</li>
        </ul>
       <p>  Do you have a specific interest within your association? Volunteer to serve on an HFTP Global Committee or Council that fits your needs.</p>
       <div class="title"><h1>Contact</h1></div>
       <p>President <a href="#">Elizabeth(Liz) Griffin</a> | Marsh & McLennan Agency - Tequesta</p>

       <p>The South Florida chapter of HFTP represents hotels, private clubs, restaurants, etc., throughout the east coast in Dade, Broward and Monroe Counties. If you are practicing in IT or Finance or a vendor to the hospitality industry-this is where you belong!</p>
         
       <p>Chartered: 1962</p>
         
       <p>Chapter website: <a href="www.hftp.org/SouthFlorida">www.hftp.org/SouthFlorida</a></p>
       <div class="contact-info">
           <div class="row">
               <div class="col-lg-4">
                    <div class="certification__item">
                        <div class="certification__inner">
                            <article class="certification__text">
                                <h6>HFTP GLOBAL HEADQUARTERS</h6>
                                <ul class="contact-info__list">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span>11709 Boulder Lane, Suite 110
                                            Austin, Texas 78726 USA</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>Toll Free: (800) 646-HFTP (4387) US
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>Ph: +1 (512) 249-5333
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>Fax: +1 (512) 249-1533
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fab fa-skype"></i>
                                        <span>Skype: HFTP.Global
                                        </span>
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
               </div>
               <div class="col-lg-4">
                    <div class="certification__item">
                        <div class="certification__inner">
                            <article class="certification__text">
                                <h6>HFTP EUROPE</h6>
                                <ul class="contact-info__list">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span>Boschcour 54
                                            6221JR Maastricht
                                            The Netherlands
                                            </span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>Ph: 0808 234 6808 (UK Only)
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>Ph: +44 808 234 6808
                                        </span>
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
               </div>
               <div class="col-lg-4">
                    <div class="certification__item">
                        <div class="certification__inner">
                            <article class="certification__text">
                                <h6>HFTP AMERICAS RESEARCH
                                    CENTER</h6>
                                <ul class="contact-info__list">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span>Austin, Texas 78726 USA 
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>Toll Free: (800) 646-HFTP (4387) US
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>Ph: +1 (512) 249-5333
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>Fax: +1 (512) 249-1533
                                        </span>
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
               </div>
           </div>
           <div class="row">
                <div class="col-lg-6">
                    <div class="certification__item">
                        <div class="certification__inner">
                            <article class="certification__text">
                                <h6>HFTP ASIA RESEARCH CENTER</h6>
                                <ul class="contact-info__list">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span>School of Hotel & Tourism Management The Hong Kong Polytechnic  University 17 Science Museum Road TST East, Kowloon, Hong Kong 
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>Ph: +1 (512) 220-4039
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fab fa-skype"></i>
                                        <span>Skype: HFTP.Asia
                                        </span>
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="certification__item">
                        <div class="certification__inner">
                            <article class="certification__text">
                                <h6>HFTP MIDDLE EAST RESEARCH CENTER</h6>
                                <ul class="contact-info__list">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span>The Emirates Academy of Hospitality Management Umm Suqueim 3
                                                Al Saqool Street PO Box 29662 Dubai, United Arab Emirates</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>Ph: +971 4 315 5555
                                        </span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <span>Fax: +971 315 5556
                                        </span>
                                    </li>
                                    <li>
                                            <i class="fas fa-envelope"></i>
                                        <span>Email: dyno.duque@emiratesacademy.edu
                                        </span>
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>
           </div>
       </div>
    </article>
</div>
<!-- /text -->
{% endblock %}