<!-- index.nunjucks -->
{% extends "layout.html" %}
{% block bodyclass %} class="inner-page event-page" {% endblock %}
{% block content %} 
<!-- events-top -->
<div class="events-top">
    <div class="container">
        <article class="content-text">
            <div class="title">
                <h1>2019 HFTP Club & Hotel controllers conference</h1>
            </div>
            <p>Hospitality controllers and industry experts gather for two full days of hospitality specific education, designed to help you focus on current and emerging issues, best practices and complex challenges.</p>
            <div class="events__item-info">
                <span><i class="far fa-calendar-alt"></i>JUNE 17 - 19, 2019         </span>
                <span><i class="fas fa-map-marker-alt"></i>MINNEAPOLIS CONVENTION CENTER    MINNEAPOLIS , MN USA</span>
            </div>
        </article>
        <div class="events-top__form">
            <h4 class="text_center">Sign up to Event</h4>
            <div class="row">
                <div class="col-md-4">
                    <input type="text" placeholder="Your name">
                </div>
                <div class="col-md-4">
                    <input type="text" placeholder="Your email">
                </div>
                <div class="col-md-4">
                    <input type="text" placeholder="Your phone">
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-md-4">
                   <button class="button">Register Now</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /events-top -->
<!-- event -->
<div class="container">
<div class="row">
    <div class="col-lg-4 order-lg-1">
        <aside class="event-sidebar">
            <nav class="event-sidebar__nav event-inner-sidebar__nav">
                <ul>
                    <li><a href="#">HITEC</a></li>
                    <li><a href="#"> HITEC EUROPE</a></li>
                    <li><a href="#">HITEC DUBAI</a></li>
                    <li><a href="#">ANNUAL CONVENTION</a></li>
                    <li><a href="#">HFTP CHAPTER LEADERSHIP WORKSHOP</a></li>
                    <li><a href="#">HFTP CLUB SUMMIT</a></li>
                    <li>
                        <a  class="event-sidebar__drop">CLUB & HOTEL CONTROLLERS 
                            CONFERENCE</a>
                            <ol>
                                <li><a href="#">REGISTRATION</a></li>

                                <li><a href="#">SCHEDULE</a></li>
                                    
                                <li><a href="#">EXHIBITORS</a></li>
                                    
                                <li><a href="#">TABLE-TOP AND SPONSORSHIP 
                                    OPPORTUNITIES</a></li>
                                    
                                <li><a href="#">CONFERENCE HANDOUTS</a></li>
                            </ol>
                    </li>
                    <li><a href="#">UPCOMING CHAPTER EVENTS</a></li>
                    <li><a href="#"> MID-WEST REGIONAL</a></li>
                    <li><a href="#">MID-SOUTH ATLANTIC REGIONAL</a></li>
                    <li><a href="#">SPEAKING OPPORTUNITIES</a></li>
                </ul>
            </nav>
        </aside>
    </div>
    <div class="col-lg-8">
        <article class="events-text">
            <img src="img/event-img.png" alt="" class="events-img">
            <nav class="events-text__nav">
                <a href="#">REGISTRATION</a>
                <a href="#">HOTEL & TRAVEL</a>		   
                <a href="#"> CONFERENCE PROGRAM  </a>      	
                <a href="#"> HANDOUTS AND SURVEY LINKS  </a>  
            </nav>
            <h2> JOIN US ON WEDNESDAY, JUNE 19 | 6:00 - 9:00 PM</h2>

            <p>Club and Hotel Controllers Conference attendees are invited to an evening social of mingling, sharing stories, and lawn bowling hosted by the HFTP Minneapolis/St. Paul Chapter. The cost is $25.00 USD ($35.00 USD event day) which includes drink tickets, appetizers, lawn bowling and one of the most beautiful skyline views of the city. Please RSVP to purchase your entry ticket.</p> 

            <p>Wednesday, June 19, 2019 <br>
                <a href="#">Brit's Pub & Eating Establishment </a><br> 
            6:00-9:00 pm  </p> 

            <p>Sponsored by: Jonas Club Software and bakertilly</p> 

            <h2>GLOBAL ATTENDEES</h2>

            <p>An International Attendee Invitation Letter is available to international attendees and may be needed for visa applications. Invite Letter</p> 

            <h2>CONTINUING EDUCATION CREDIT</h2>

            <p>Earn continuing education by attending the Club and Hotel Controllers Conference. More</p> 

            <h2>CONFERENCE HANDOUTS</h2>

            <p>Conference handouts will be published as they are received. More</p> 

            <h2>QUESTIONS? </h2>

            <p>For more information, contact <a href="#">education@hftp.org.</a></p> 

            <p>For information about exhibiting or sponsorship: <br>
                <a href="#">Matt Chambers, Sales and Account Manager </a><br>
            Phone: +1 (512) 220-6443</p>  
        </article>
    </div>
</div>
</div>
<!-- /event -->
{% endblock %}