<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- banner -->
<div class="bnr">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>WELCOME TO THE HFTP 
                        SOUTH FLORIDA CHAPTER</h1>
                <div class="bnr__buttons">
                    <div><a href="#" class="button"><img src="img/global.png" alt=""><span>HFTP GLOBAL</span></a></div>
                    <div><a href="#" class="button"><img src="img/development.png" alt=""><span>CAREER CENTER</span></a></div>
                    <div><a href="#" class="button"><img src="img/unlink.png" alt=""><span>JOIN HFTP</span></a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="img/top-img.png" alt="" class="bnr__img">
            </div>
        </div>
    </div>
</div>
<!-- /banner -->
<!-- about -->
<div class="about-text">
    <div class="container">
        <p>As part of Hospitality Financial and Technology Professionals (HFTP), The South Florida Chapter 
                is dedicated to enriching the hospitality industry in Florida and the surrounding area. 
                Visitors and non-members are always welcome.  We encourage you to get involved!</p>
        <p>Please see the <a href="#">EVENTS</a> tab to stay in touch.</p>
        <div class="text-center"><a href="#" class="button">SEE OUR NEWEST MEMBERS</a></div>
    </div>
</div>
<!-- /about -->
<!-- tags -->
<div class="tags">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <figure>
                    <img src="img/content-img1.png" alt="">
                    <figcaption><a href="#">HITEC</a> offers a unique combination of first rate education and the world’s largest hospitality technology exposition. Sessions are led by industry peers and experts and the unparalleled expo showcases the latest industry products and services.</figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <figure>
                    <img src="img/content-img2.png" alt="">
                    <figcaption>Hospitality controllers and industry experts gather at <a href="#">Club & Hotel Controllers Conference</a> for two full days of hospitality specific education, designed to help you focus on current and emerging issues, best practices and complex challenges.</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<!-- end-tags -->
<!-- news -->
<div class="news-logos">
    <div class="container">
        <h2 class="title"><img src="img/plant.png" alt=""> <span>News and Information
            <br>    You Can Use</span></h2>
        <div class="news-logos__inner">
            <div class="row">
                <div class="col-lg-2 col-md-6"><a href="#"><img src="img/info-logo1.png" alt=""></a></div>
                <div class="col-lg-2 col-md-6"><a href="#"><img src="img/info-logo2.png" alt=""></a></div>
                <div class="col-lg-2 col-md-6"><a href="#"><img src="img/info-logo3.png" alt=""></a></div>
                <div class="col-lg-2 col-md-6"><a href="#"><img src="img/info-logo4.png" alt=""></a></div>
                <div class="col-lg-2 col-md-6"><a href="#"><img src="img/info-logo5.png" alt=""></a></div>
                <div class="col-lg-2 col-md-6"><a href="#"><img src="img/info-logo6.png" alt=""></a></div>
            </div>
        </div>
    </div>
</div>
<!-- /news -->
{% endblock %}