<!-- index.nunjucks -->
{% extends "layout.html" %}
{% block bodyclass %} class="wrapper-bg-small" {% endblock %}
{% block content %}
<!-- banner -->
<div class="bnr">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 class="job-title">Job listing</h1>
                <div class="bnr__buttons bnr__buttons-job">
                    <div><a href="#" class="button text_center"><span>new hftp job updates</span></a></div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="img/job-single-img.png" alt="" class="bnr__img bnr__img-no-spacing">
            </div>
        </div>
    </div>
</div>
<!-- /banner -->
<!-- text -->
<div class="container">
    <div class="certification">
            <div class="row">
                <div class="col-lg-12">
                    <div class="certification__item">
                        <div class="certification__inner">
                            <div class="certification__img"></div>
                            <article class="certification__text">
                                <h6><a href="#"> Controller</a></h6>
                                <strong><em>Aberdeen Golf & Country Club </em></strong>
                                <p>
                                    This department manager level position manages and is 
                                    responsible for all facets of the financeoperations.  While this position is responsible for daily operations, it also requires a creative, strategic thinker who will work to identify areas for continued enhancement. The energetic appointee will report directly to the Chief Financial Officer.  A progressive sense of urgency is essential along with the ability to interact well in a team environment.   </p>
                                
                            </article>
                        </div>
                    </div>
                    <div class="certification__item">
                        <div class="certification__inner">
                            <div class="certification__img"></div>
                            <article class="certification__text">
                                <h6><a href="#"> Controller</a></h6>
                                <strong><em>Aberdeen Golf & Country Club </em></strong>
                                <p>
                                    This department manager level position manages and is 
                                    responsible for all facets of the financeoperations.  While this position is responsible for daily operations, it also requires a creative, strategic thinker who will work to identify areas for continued enhancement. The energetic appointee will report directly to the Chief Financial Officer.  A progressive sense of urgency is essential along with the ability to interact well in a team environment.   </p>
                                
                            </article>
                        </div>
                    </div>
                    <div class="certification__item">
                        <div class="certification__inner">
                            <div class="certification__img"></div>
                            <article class="certification__text">
                                <h6><a href="#"> Controller</a></h6>
                                <strong><em>Aberdeen Golf & Country Club </em></strong>
                                <p>
                                    This department manager level position manages and is 
                                    responsible for all facets of the financeoperations.  While this position is responsible for daily operations, it also requires a creative, strategic thinker who will work to identify areas for continued enhancement. The energetic appointee will report directly to the Chief Financial Officer.  A progressive sense of urgency is essential along with the ability to interact well in a team environment.   </p>
                                
                            </article>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="pager">
        <ul>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#"><i class="fas fa-chevron-right"></i></a></li>
        </ul>
    </div>
</div>
<!-- /text -->
{% endblock %}