<!-- index.nunjucks -->
{% extends "layout.html" %}
{% block bodyclass %} class="wrapper-bg-small" {% endblock %}
{% block content %}
<!-- banner -->
<div class="bnr">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 class="job-title">Certified Hospitality 
                    Accountant Executive</h1>
                <p><strong><em>Members helping members</em></strong></p>
            </div>
            <div class="col-lg-6">
                <img src="img/job-single-img.png" alt="" class="bnr__img bnr__img-no-spacing">
            </div>
        </div>
    </div>
</div>
<!-- /banner -->
<!-- text -->
<div class="container">
    <div class="certification">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="certification__item">
                        <div class="certification__inner">
                            <div class="certification__img"></div>
                            <article class="certification__text">
                                <h5> The position will entail:</h5>
                                <p> This department manager level position manages and is responsible for all facets of the financeoperations.  While this position is responsible for daily operations, it also requires a creative, strategic thinker who will work to identify areas for continued enhancement. The energetic appointee will report directly to the Chief Financial Officer.  A progressive sense of urgency is essential along with the ability to interact well in a team environment.      </p>
                                <h5> Qualifications:                                </h5>
                                <p> This department manager level position manages and is responsible for all facets of the financeoperations.  While this position is responsible for daily operations, it also requires a creative, strategic thinker who will work to identify areas for continued enhancement. The energetic appointee will report directly to the Chief Financial Officer.  A progressive sense of urgency is essential along with the ability to interact well in a team environment.      </p>
                                <h5> About Us:                                </h5>
                                <p> This department manager level position manages and is responsible for all facets of the financeoperations.  While this position is responsible for daily operations, it also requires a creative, strategic thinker who will work to identify areas for continued enhancement. The energetic appointee will report directly to the Chief Financial Officer.  A progressive sense of urgency is essential along with the ability to interact well in a team environment.      </p>
                                <h5> Questions:                                </h5>
                                <div class="certification__text-form">
                                    <label><img src="img/help.png" alt="">This department manager level position manages and is responsible for all facets of the financeoperations?  </label>
                                    <input type="text">
                                </div>
                                <div class="certification__text-form">
                                    <label><img src="img/help.png" alt="">This department manager level position manages and is responsible for all facets of the financeoperations?  </label>
                                    <input type="text">
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /text -->
{% endblock %}