<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- banner -->
<div class="bnr">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Join HFTP</h1>
                <div class="bnr__form">
                    <div class="bnr__form-item"><input type="text" placeholder="Your name"></div>
                    <div class="bnr__form-item"><input type="text" placeholder="Your email"></div>
                    <div class="bnr__form-item"><input type="text" placeholder="Your phone"></div>
                    <div class="bnr__form-item"><button class="button"><img src="img/unlink.png" alt=""><span>JOIN HFTP</span></button></div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="img/top-img2.png" alt="" class="bnr__img bnr__img-form">
            </div>
        </div>
    </div>
</div>
<!-- /banner -->
<!-- about -->
<div class="about-text green-links">
    <div class="container">
        <p>The hospitality industry is rapidly changing and as a busy professional, how do you keep up with current  challenges?  <br>
            Ask yourself: where are you today and where do you want to be?
            Be a part of an association that offers you the professional support to strengthen and grow your career.
            Hear HFTP members tell about what makes HFTP more than just an association, it is a community of sharing, collaboration and support of hospitality professionals - <a href="#">Video</a>.</p>
        <p class="text-center"><a href="#" class="button">JOIN HFTP</a></p>
        <p>Have questions about membership or want to learn more? Contact the <a href="#">HFTP Membership Development & Services Department </a> <br>
            or call us at <br>
            <strong>+1 (512) 249-5333 | (800) 646-4387 (toll free)</strong></p>
        <p><img src="img/bottom-bnr.png" alt=""></p>
    </div>
</div>
<!-- /about -->
{% endblock %}