<!-- index.nunjucks -->
{% extends "layout.html" %}
{% block bodyclass %} class="wrapper-bg-small" {% endblock %}
{% block content %}
<!-- banner -->
<div class="bnr">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Thank you for registering</h1>
                <p>Our manager will contact you soon</p>
            </div>
            <div class="col-lg-6">
                <img src="img/like-img.png" alt="" class="bnr__img bnr__img-thanks">
            </div>
        </div>
    </div>
</div>
<!-- /banner -->
{% endblock %}